<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>COVID-19 SMS Update Service - Shrey Ravi</title>
        <meta name="description" content="Shrey Ravi is a writer, historian, and programmer. This is his personal website." />
        <link href='//fonts.googleapis.com/css?family=Lusitana:400,700|Quattrocento:400,700' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="https://www.shreyravi.com/style.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.shreyravi.com/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.shreyravi.com/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.shreyravi.com/favicon-16x16.png">
        <link rel="manifest" href="https://www.shreyravi.com/site.webmanifest">
    </head>
    <body>
        <center>
            <h1>Shrey Ravi</h1>
            <hr />
            <a class="navlink" href="https://www.shreyravi.com/index.html">Home</a> |
            <a class="navlink" href="https://github.com/ShreyRavi">GitHub</a> |
            <a class="navlink" href="https://www.linkedin.com/in/shreyravi/">LinkedIn</a> |
            <a class="navlink" href="https://www.shreyravi.com/writing/">Writing</a> |
            <div class="dropdown">
              <a href="https://www.shreyravi.com/rankings.html" class="dropbtn navlink">Rankings &#8964;</a>
              <div class="dropdown-content">
                <a class="navlink" href="https://www.shreyravi.com/writing/timeless/flag-rankings.html">Flag Rankings</a>
                <a class="navlink" href="https://www.shreyravi.com/writing/timeless/reading-hof.html">Book Rankings</a>
                <a class="navlink" href="#">Leader Rankings</a>
                <a class="navlink" href="#">Movie/TV Rankings</a>
                <a class="navlink" href="#">Music Rankings</a>
              </div>
            </div> | 
            <a class="navlink" href="https://www.shreyravi.com/writing/timeless/principles.html">Principles</a>
            <hr />
        </center>

        <div class="writing">
            <h2>COVID-19 SMS Update Service</h2>

            <small>Welcome to Shrey Ravi's COVID-19 SMS Update Service's homepage, powered by Twilio. To use, please text <a href="sms://+12317742545">+1(231) 774-2545</a> with a zipcode, a City, State Code (such as Chicago, IL), or a state (such as IL or Ohio) to get the latest COVID-19 updates for that area. You can call <a href="tel://+12317742545">+1(231) 774-2545</a> to get these instructions read out loud.<br /><br />
                <center><img width="96%" height="96%" src="https://raw.githubusercontent.com/ShreyRavi/covid-19-sms/master/covid-19-sms-screenshot.png" alt="screenshot of COVID-19 SMS Update Service in action with various inputs" />Screenshot of COVID-19 SMS Update Service in action with various text requests.</center>
                <br /><strong>Powered by:</strong> 
                <ul>
                    <li><a href="https://www.twilio.com/">Twilio</a></li>
                    <li><a href="https://pypi.org/project/zipcodes/">zipcodes</a></li>
                    <li><a href="https://pandas.pydata.org/">pandas</a></li>
                    <li><a href="https://numpy.org/">numpy</a></li>
                    <li><a href="https://palletsprojects.com/p/flask/">Flask</a></li>
                    <li><a href="https://ngrok.com/">ngrok</a></li>
                </ul>
                Data source from the <a href="https://github.com/nytimes/covid-19-data">New York Times</a>. See the <a href="https://github.com/ShreyRavi/covid-19-sms">GitHub here</a>. Version 8.</small> <br />
            <p>&#x25FC;
            </p>
            
        </div>
        
        <center>
            <hr />
            <div class="footer">Copyright &copy; Shrey Ravi 2020 / All Rights Reserved / <a href="https://www.shreyravi.com/legal.html">Legal</a> / <a href="https://www.shreyravi.com/contact.html">Contact</a></div>

        </center>
    </body>
</html>